*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-image: url(https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
body::after{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
} 
.navbar{
  width: 100%;
  min-height: 100px;
  background-color: #393838;
  z-index: 2;
}
.container{
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}
.container h1{
  color: #fff;
}
.o{
  color: crimson;
}
.search{
  border: 2px solid crimson;
  border-radius: 20px;
  outline: none;
  background-color: black;
  padding: 5px 14px;
  color: #fff;
}
.wrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 1rem;
  transition: all 0.5s ease;
}
.btn{
  background-color: crimson;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transform: all 0.5s ease;
}

.list{
  display: flex;
  list-style: none;
}
.list li{
  cursor: pointer;
  background-color: crimson;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px 10px;
  font-weight: 100;
  font-size: 0.9rem;
}
.food-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  z-index: 3;
  padding: 20px 4rem;
}
.food-card{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  border: 2px solid rgb(187, 187, 187);
  background-color: #ffffff38;
  backdrop-filter: blur(20px);
  width: 100%;
  height: auto;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.food-card img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.food-card h3{
  text-transform: uppercase;
}
.card-container p{
  font-size: 0.8rem;
  font-weight: normal;
  padding: 10px 0;
  text-align: justify;
}
.card-container .buttons{
  display: flex;
  justify-content: space-between;
}

/* ========= Login and Register ========= */

h2 {
  margin-bottom: 15px;
}

.add-food-container{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: black;
  z-index: 5;
}

/* Form containers */
.add-food-container,
.login-container, 
.signup-container {
  width: 30%;
  padding: 20px;
  margin: 100px auto;
  background-color: black;
  color: crimson;
  border-radius: 10px;
  box-shadow: 0 0 10px crimson;
  text-align: center;
}


/* Style the input fields */
.add-food-container input,
.select,
.login-container input,
.signup-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid crimson;
  background: black;
  color: crimson;
  border-radius: 5px;
  outline: none;
}


/* Style the button */
.add-food-container button,
.login-container button,
.signup-container button {
  width: 100%;
  padding: 10px;
  background-color: crimson;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.submit{
  margin: 10px 0;
}


.submit:disabled {
  background-color: lightgray;  /* Light gray background when disabled */
  color: #292929; /* Gray text when disabled */
  cursor: not-allowed; /* Show "not-allowed" cursor */
  opacity: 0.6; /* Slight transparency */
}

.add-food-container .details{
  width: 100%;
  height: 100px;
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #dc143c;
  padding: 5px 10px;
  outline: none;
  text-wrap: wrap;
  color: #dc143c;
}

/* Button hover effect */
.login-container button:hover,
.signup-container button:hover {
  background-color: darkred;
}

/* form link */
.link-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0 8px 0;
  font-size: 0.8rem;
}
.link{
  text-decoration: none;
  font-weight: bold;
  color: #dc143c;
  border: 1px solid #dc143c;
  padding: 5px;
  border-radius: 3px;
}

/* Full-screen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.error{
  width: 100%;
  text-align: start;
  font-size: 0.7rem;
  color: red;
}
/* Loader styling */ 
.loader {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
/* ============ icons styling ============ */
.menu-icon{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9;
  color: #fff;
  font-size: 2rem;
  display: none;
}
.close-icon{
  font-size: 2rem;
  display: none;
}

/*============ Responsiveness ============ */
@media (width < 1100px) {
.add-food-container,
.login-container, 
.signup-container{
  width: 40%;
}
}
@media (width < 800px) {
  .add-food-container,
  .login-container, 
  .signup-container{
    width: 50%;
  }
  }

@media (width < 600px) {
.add-food-container,
.login-container, 
.signup-container{
  width: 70%;
}
.container{
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
.wrapper{
  position:  fixed;
  top: 0;
  left: -50%;
  background-color: #fff;
  width: 50%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  z-index: 9;
}
.menu-icon{
  display: block;
}
.list{
  flex-direction: column;
  text-align: center;
}
.list li{
  margin: 10px 0;
}
.close-icon{
  display: block;
}
}
@media (width < 450px) {
  .add-food-container,
  .login-container, 
  .signup-container{
    width: 90%;
  } 
  
}

  
@media (width<380px) {
  .food-card{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}

/* ============ Food container responsiveness ============ */
@media (width< 1250px) {
  .food-grid{
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
  }
}
@media (width< 767px) {
  .food-grid{
    grid-template-columns: 1fr;
    z-index: -1;
  }
}
